/*-------------------------------------------------- Page-Layout----------------------------------*/
/*
body
    {
    margin:0px 5px 0px 5px;
    border: 5px solid #000000;
   
    }*/
#page_area {
	box-sizing: border-box;              
    overflow: hidden;                           /* veryimportant */
   /*  padding: 7%; */                          /* veryimportant */
    border: 5px solid #000000;
    margin: 0px auto 0px auto;
    width: 993px; 
}
#logo_area {
	width: 50px;
	height: 50px;
	border: 2px solid  red;
	float: left;
}
#banner_area {

	height: 50px;
	border: 2px solid  blue;
	float: left;
	
}
#topnav_area {
	width: auto; 
	height: auto;
	border: 2px solid  #FF0000;
	clear: both;
	
}
#leftmenupanel_area {
	width: 180px;
	/*border: 1px dotted  orange;*/
	float: left;
	
}
#containt_area {
	width: 605px;
	/*border: 2px solid black;*/
	float: left;
	height: 500px;
}
#rightmenupanel_area {
	width: 189px;
	height: 100%;
	/*border: 1px dotted  orange;*/
	float: left;	
}
#footer_area {
	
	width: 993px;
	height: 35px;
	border: 1px solid  black;
	margin: 0 auto 0 auto;
	bottom:0;
}	
/*-------------------------------------------------- menubar-----------------------------------*/
#nav {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
/*-------------------------------------------------- addform/addcar -view-----------------------------------*/
.fildset_style1{width: 500px;}		
.fildset_style1 label{float: left;width: 100px;}
.error {color: #ff0000;}
.errorblock{color: #000;background-color: #ffEEEE;border: 3px solid #ff0000;padding:8px;margin:16px;}