/*-------------------------------------------------- menubar-----------------------------------*/
#nav {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
/*------------------------------------------------sidemenubar-------------------------------------*/	
#sidemenu {
       width: 165px;
       margin: 10px;
       }

#sidemenu ul {
list-style: none;
margin: 0;
padding: 0;
}

#sidemenu img {
border: none;
}

#sidemenu li a {
       height: 32px;
         voice-family: "\"}\"";
         voice-family: inherit;
         height: 24px;
       text-decoration: none;
       }

#sidemenu li a:link, #sidemenu li a:visited {
       color: #333;
       display: block;
      background:  url(http://2.bp.blogspot.com/_4HKUHirY_2U/Sw9J34GZyxI/AAAAAAAAAW8/hv18w33snxc/menu14.gif);
       padding: 8px 0 0 10px;
       }

#sidemenu li a:hover, #sidemenu li #current {
       color: #FFF;
      background:  url(http://2.bp.blogspot.com/_4HKUHirY_2U/Sw9J34GZyxI/AAAAAAAAAW8/hv18w33snxc/menu14.gif) 0 -32px;
       padding: 8px 0 0 10px;
 }